@import '../node_modules/bootstrap/dist/css/bootstrap.css';

*{
    color: #fff;
}

@mixin backgroundImage($url){
    width: 100%;
    height: 100vh;
    background-image: $url;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 9rem;
}

@mixin cards(){
    border: none;
    margin-top: 13rem;
}

body{
    background-color: #000
}

.c-navbar{
    border: none !important;
}

.c-equip3{
    @include backgroundImage(url(../imgs/home/01.jpg));

    .c-equip3-card{
        @include cards()
    }
}

.c-equip2{
    @include backgroundImage(url(../imgs/home/03.jpg));

    .c-equip2-card{
        @include cards()
    }
}

.dragon{
    @include backgroundImage(url(../imgs/home/02.gif));

    .dragon-card{
        @include cards()
    }
}

.starship{
    @include backgroundImage(url(../imgs/home/04.jpg));

    .starship-card{
        @include cards()
    }
}

.c-footer{
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 30rem;
    font-size: 0.8rem;
}