@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../home.scss';
@import 'falcon9.scss';

@mixin cards2(){
    max-width: 30rem;
    text-shadow: 0px 0px 5px black;
}

.c-header{
    @include backgroundImage(url(../../imgs/humanFlight/01.jpg));

    .c-human{
        border: none;
        padding-top: 18rem;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
        width: 100%;

        h1{
            font-family: $font-destaque;
        }
    }

    .c-navbar__link{
        text-shadow: 0px 0px 5px black;
    }
}

.c-orbita{
    @include backgroundImage(url(../../imgs/humanFlight/02.jpg));
    width: 100%;

    .c-orbita__card{
        @include cards2();
    }
}

.c-estacao{
    @include backgroundImage(url(../../imgs/humanFlight/03.jpg));
    width: 100%;

    .c-estacao__card{
        @include cards2();
    }
}

.c-lua{
    @include backgroundImage(url(../../imgs/humanFlight/04.jpg));
    width: 100%;

    .c-lua__card{
        @include cards2();
    }
}

.c-marte{
    @include backgroundImage(url(../../imgs/humanFlight/05.jpg));
    width: 100%;

    .c-marte__card{
        @include cards2();
    }
}